@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Dancing+Script:wght@700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Headings and logo*/

h1, h2 {
    font-family: 'Dancing Script', cursive, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #8d4925;
}


body {
    font-family: 'Barlow Condensed', sans-serif;
    color: #0d0d0d;
    font-weight: 300;
}
#logo {
    margin: 10px 0 0 10px;
    float: left;
    font-size: 350%;
} 

a {
    text-decoration: none;
}

/*navigation links*/

header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

#menu {
    font-size: 140%;
    font-family: 'Dancing Script', cursive, sans-serif;
    color: #8d4925;
}
#menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    float: right;
}

#menu li {
    margin: 10px 60px 0 0;
 
}

#menu a {
    color: #8d4925;
    letter-spacing: 2px;
    font-size: 115%;
}

#menu a:hover {
    opacity: 0.7;
}

#menu, #logo {
    line-height: 75px;
}

/* Hero image */

#hero-container {
    position: relative;
}

#hero-image {
    height: 450px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
    overflow: visible;
}

#hero-text, #hero-text h2 {
    letter-spacing: 3;

}

#hero-text {
    position: absolute;
    top: 92%;  
    /* left: 23%; */
    width: 100%;
    background-color: rgba(237, 222, 207, 0.7);
    text-align: center;
    }




    
  
  
