
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Dancing+Script:wght@700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Headings and logo*/

h1, h2 {
    font-family: 'Dancing Script', cursive, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    color: #0d0d0d;
    font-weight: 300;
}
#logo {
    margin: 10px 0 0 10px;
  
    float: left;  
}
a {
    text-decoration: none;
}
